DJANGO_SECRET_KEY=replace-with-your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_LANGUAGE_CODE=en-us
DJANGO_TIME_ZONE=UTC
DJANGO_LOG_LEVEL=INFO

DJANGO_CORS_ALLOW_ALL_ORIGINS=True
DJANGO_CORS_ALLOWED_ORIGINS=
DJANGO_CSRF_TRUSTED_ORIGINS=

EASYALERTS_DB_BACKEND=mssql
EASYALERTS_DB_NAME=easyalerts_db
EASYALERTS_DB_HOST=DESKTOP-58V8UBA\SQLEXPRESS01
EASYALERTS_DB_PORT=
EASYALERTS_DB_USER=
EASYALERTS_DB_PASSWORD=
EASYALERTS_DB_DRIVER=ODBC Driver 18 for SQL Server
EASYALERTS_DB_TRUSTED_CONNECTION=True
EASYALERTS_DB_TRUST_SERVER_CERTIFICATE=True
EASYALERTS_SQLITE_NAME=db.sqlite3

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=True
JWT_BLACKLIST_AFTER_ROTATION=True

MLFLOW_DB_PATH=mlflow.db
MLFLOW_ARTIFACTS_DIR=mlruns
